.main__chatcontent {
    flex: 2;
}

.chatcontent__heading {
    display: flex;
    align-items: center;
    height: 14%;
    margin-left: 20px;
}

.chatcontent__main {
    height: 450px;
    overflow: scroll;
    background-color: #fff;
    border-top: 1px solid #D0D0D0;
    display: flex;
    flex-flow: column nowrap;
}

.chatcontent__main::-webkit-scrollbar {
    display: none;
}

.chatcontent__footer {
    width: 100%;
    border-top: 1px solid #D0D0D0;
    display: flex;
}

.send_wrap {
    display: flex;
    background-color: #fff;
    border-radius: 13px;
    width: 100%;
    margin: 22px 12px 15px 12px;
}

.send_wrap input {
    height: 100%;
    width: 95%;
    background-color: transparent;
    border: none;
    padding: 15px;
    outline: none;
}

#sendMsgBtn {
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#sendMsgBtn i {
    rotate: 45deg;
    color: grey;
}

#sendMsgBtn i:hover, i:active {
    color: dodgerblue;
}

.chatcontent__heading button {
    display: none;
}

@media (min-width: 320px) and (max-width: 699px) {
    .main__chatcontent {
        height: 100vh;
    }

    .chatcontent__heading {
        height: 4rem;
    }

    .chatcontent__heading button {
        display: block;
        border: none;
        font-size: 2rem;
        background: inherit;
    }

    .chatcontent__main {
        height: calc(100vh - 13rem);
    }

    .chatcontent__footer {
        position: absolute;
        bottom: 2rem;
    }
}